# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

.idea
/../target/classes/application.properties
/../target/classes/com/mapplr/sugarshack/model/Cart.class
/../target/classes/com/mapplr/sugarshack/model/CartItem.class
/sonarlint/issuestore/index.pb
/../target/classes/com/mapplr/sugarshack/model/MapleSyrup.class
/../target/classes/com/mapplr/sugarshack/dto/MapleSyrupDto.class
/../target/classes/com/mapplr/sugarshack/model/Order.class
/../target/classes/com/mapplr/sugarshack/model/OrderItem.class
/../target/classes/com/mapplr/sugarshack/model/OrderStatus.class
/../target/classes/com/mapplr/sugarshack/SugarShackApplication.class
/../target/test-classes/com/mapplr/sugarshack/SugarShackApplicationTests.class
/../target/classes/com/mapplr/sugarshack/model/SyrupType.class
